# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace

# Built Visual Studio Code Extensions
*.vsix

old/

# Ignore Jekyll caches
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ignore Ruby environment bloat (since you are using a Docker container)
.bundle/
vendor/

# Optional: Ignore the Dev Container configuration if you don't want it public
# .devcontainer/